name: build

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    if: "!contains(github.event.commits[0].message, '[skip ci]')"
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: Install npm dependencies
      run: yarn install

    - name: Run library tests
      run: yarn test:lib --configuration=ci

    - name: Run demo app tests
      run: yarn test:demo --configuration=ci

    - name: Build library package
      run: yarn build:lib

    - name: Copy readme and license files
      run: yarn build:copy-files

    - name: Run automated release process with semantic-release
      if: github.event_name == 'push' && contains(github.ref, 'master')
      env:
        GH_TOKEN: ${{ secrets.GH_TOKEN }}
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      run: yarn semantic-release

  skip:
    if: "contains(github.event.commits[0].message, '[skip ci]')"
    runs-on: ubuntu-latest
    steps:
      - name: skip ci
        run: echo "skip ci"
